@font-face {
  font-weight: 400;
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.woff2") format("woff2");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: "Roboto Mono", monospace;

  background: #333131;
}

p {
  margin: 5px 0;
}

/* BEGIN (write your solution here) */


/* END */

.small {
  font-size: 80%;
}

.bg-blue {
  background: #3498db;
}

.bg-blue:hover {
  background: #67b2e4;
}

.text-big {
  font-size: 3em;
}

.text-gray {
  color: #ced4d9;
}
