@font-face {
  font-weight: 400;
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.woff2") format("woff2");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: "Roboto Mono", monospace;

  background: #333131;
}

p {
  margin: 5px 0;
}

/* BEGIN (write your solution here) */
.calculation {
  width: 300px;

  background-color: #2c3e50;
}

.output {
  padding: 30px;

  color: #fff;

  text-align: right;

  background-color: #505c68;
}

button {
  display: block;
  width: 100%;
  /* width: 25%; */
  height: 75px;

  color: #ced4d9;

  font-size: 1.2em;

  background: none;

  border: none;

  cursor: pointer;
}

.buttons-row {
  /* display: flex; */
  column-count: 4;
  column-gap: 0;
}

.delete {
  font-size: 80%;
}

button:hover {
  background-color: #364c63;
}

.buttons-row button:nth-child(4) {
  background: #3498db;
}

.buttons-row button:nth-child(4):hover {
  background: #67b2e4;
}

/* END */

.small {
  font-size: 80%;
}

.bg-blue {
  background: #3498db;
}

.bg-blue:hover {
  background: #67b2e4;
}

.text-big {
  font-size: 3em;
}

.text-gray {
  color: #ced4d9;
}
